* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: auto;
    width: 80%;
    height: 75vh;
    padding-top: 20px;
    /* border: solid 1px black */
}

.click-btn {
    display: block;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 100px;
    padding: 13px 18px;
    border: none;
    background-color: rgb(59, 141, 59);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.click-btn:hover {
    background-color: rgb(28, 122, 28);
}

.header p {
    text-align: center;
}